@font-face {
    font-family: 'Outfit-Regular';
    src: url('fonts/Outfit-Regular.ttf');
}
@font-face {
    font-family: 'Outfit-Bold';
    src: url('fonts/Outfit-Bold.ttf');
}
@font-face {
    font-family: 'Outfit-Medium';
    src: url('fonts/Outfit-Medium.ttf');
}

:root {
    --clr-wdb-mgb: hsl(217, 54%, 11%);
    --clr-wdb-cgb: hsl(216, 50%, 16%);
    --clr-wdb-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-sb: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-cyanop: rgba(0, 255, 247, 0.5);
    --ff-primary: 'Outfit-Regular';
}
html, body, h1, h2, h3, p {
    margin: 0;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-primary);
    font-size: 0.85rem;
    color: var(--clr-white);
    background-color: var(--clr-wdb-mgb);
    box-sizing: border-box;
    /*margin: 4rem 0;*/
}
main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--clr-wdb-cgb);
    margin: auto;
    min-width: 10rem;
    max-width: 14rem;
    height: 66vh;
    max-height: 25rem;
    border-radius: 15px;
    padding-bottom: 1.5rem;
}
.icones {
    border-bottom: 1px solid var(--clr-wdb-line);
    padding-bottom: .6rem;
    margin-bottom: 0.8rem;
}
.image {
    position: relative;
}
.cube {
    width: 100%;
    height: auto;
}
.cube, .color-overlay {
    border-radius: 15px;
}
h1 {
    font-size: 1.25rem;
    margin: 8% 0;
}
p {
    color: var(--clr-sb);
    margin-bottom: 1rem;
}
#lefttext, #righttext {
    font-family: Outfit-Medium;
    font-size: 0.7rem;
    margin-left: 0.1rem;
}
#lefttext {
    color: var(--clr-cyan);
}
#righttext {
    float: right;
    color: var(--clr-sb);
}
.smallimg {
    margin-bottom: -.2rem;
}
.author {
    display: flex;
    column-gap: 1rem;
}
.avatar {
    width: 2rem;
    border-radius: 50%;
    border: 1px solid var(--clr-white);
}
.signature {
    margin-top: .5rem;
}
#bluepart {
    color: var(--clr-sb);
}
footer {
    margin-top: 2rem;
    text-align: center;
}
#hooverpart:hover, h1:hover {
    color: var(--clr-cyan);
    cursor: pointer;
}
.color-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s all;
}

.color-overlay::after {
    content: url("images/icon-view.svg");
    opacity: 0;
    transition: .5s all;
}
.color-overlay:hover::after {
    opacity: 1;
    
}
.color-overlay:hover {
    background-color: var(--clr-cyanop);
    cursor: pointer;
    
}


@media screen and (max-width: 355px) {
    :root {
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 955px) {
    :root {
        font-size: 1.1rem;
    }
    main {
        height: 80vh;
    }
}